.asortiment-drop{
	@include clearfix;
	text-align: center;
	margin-top: 3px;
	position: relative;
	&_hide{
		display: none;
	}
	&_show{
		display: block;
		position: absolute;
		z-index: 1;
		top: -10px;
		bottom: -10px;
		left: 0;
		width: 100%;
		//height: 100%;
	}
	&_descr{
		//float: left;
		color: #010101;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	}
	&_name,
	&_curr{
		//float: left;
		color: #ffffff;

	}
	&_orange{
		color: #ff950c;
		font-family: OpenSans-BoldItalic;
		margin: 0 3px;
	}
	&_arrow{
		margin-left: 3px;
	}
	&_drop{
		display: none;
		padding: 12px 0 5px;
		text-align: left;
		background: #6fbee8;
		background: linear-gradient(to bottom, #6fbee8 0%, #5a82d9 100%);
		position: absolute;
		top: -14px;
		left: 80px;
		width: 207px;
		z-index: 1;
		ul{
			list-style-type: none;
			li{
				padding: 0 15px!important;
				color: #fff;
				&:before{
					display: none;
				}
				&:hover{
					//background-color: #047dba;
				}
			}
		}	
	}
	&_replace{
		transition: text-shadow 0.2s;
		&:hover{
			text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
		}
	}
	&_active{
		background-color: #047dba;
	}
	&_close{
		content: '';
		display: block;
		position: absolute;
		right: 7px;
		top: 7px;
		width: 11px;
		height: 11px;
		background: transparent url('../img/images/asortiment-drop-close.png') left top no-repeat;
		transition: opacity 0.2s;
		&:hover{
			opacity: 0.6;
		}
	}
}