.blank-zakaz{
	&_text{
		display: table;
		width: 100%;
		font-size: 15px;
		line-height: 15px;
		font-family: OpenSans-Italic;
		margin-bottom: 18px;
		input{
			width: 100%;
			border: none;
			border-bottom: 1px solid #000;
			background-color: transparent;
			padding: 0 5px 0 0;
			text-indent: 5px;
		}
		input:focus{
			outline: none;
		}
	}
	&_label{
		display: table-cell;
		white-space: nowrap;
		padding: 0 20px;
	}
	&_input{
		display: table-cell;
		width: 100%;
		.blank-zakaz_text__multi &{
			width: auto;
		}
	}
}