.block_asort{
	&, & *{
		box-sizing: border-box;
	}
	float: left;
	@include clearfix;
	width: 825px;
	padding: 0 0 0 0px;
	margin: 0 0 0 0;
	&__block{
		padding: 27px 0 0;
	}
	&__4{
		padding: 13px 0 0;
	}
	.asortiment{
		position: relative;
		//z-index: 1;
		text-decoration: none;
		//text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.53);
		float: left;
		background: none;
		margin: 0 30px 30px 0;
		//box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 0px 0px 21px 2px rgba(255,255,255,1);
		}
		&:nth-child(3n){
			margin-right: 0;
		}
		.asort_text{
			height: 48px;
			padding-top: 5px;
			text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
			overflow: hidden;
			p{
				color: #fff;
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 0;
				text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
			}
		}
		.asort_image{
			overflow: hidden;
			background-color: #B6C4D0;
			img{
				display: block;
				width: 100%;
				height: auto;
				transition: transform 1s ease-out;
			}

		}
		.asort_zag{
			margin: 0;
			padding: 0;
		}
		&:hover .asort_image img{
			transform: scale(1.1);
		}



		&__4{
			width: 192px;
			height: auto;
			margin: 0 19px 30px 0;
			&:nth-child(3n){
				margin-right: 19px;
			}
			&:nth-child(4n){
				margin-right: 0;
			}
			.asort_zag{
				line-height: 27px;
				text-transform: uppercase;
				font-size: 17px;
				max-height: 27px;
				overflow: hidden;
			}
			.asort_text{
				height: 37px;
				padding: 0;
				font-size: 15px;
				line-height: 17px;
				display: table;
				width: 100%;
				.asort_discr{
					height: 37px;
					margin: 0;
					font-size: 15px;
					line-height: 17px;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
	.asortiment_link{
		display: block;
	}
	&__effect{
		.asortiment{
			.asort_image{
				img{
					transition: transform 0.35s,
											opacity 0.35s;
				}
			}
			&:hover .asort_image img{
				transform: scale3d(0.95,0.95,1);
				opacity: 0.8;
			}
		}
	}

}