.block_preim{
	h2{
		margin-bottom: 22px;
	}
	&_row{
		@include clearfix;
		padding: 0 0 10px;
	}
	&_item{
		float: left;
		height: auto;
		//min-height: 133px;
		width: 33%;
		padding-left: 0;
		@include clearfix;
		&:before{
			display: none;
		}
		.premi__discr{
			padding-left: 90px;
			p{
				margin: 0;
			}
		}
		.premi__zag{
			padding-left: 90px;
		}	
	}
	&_image{
		float: left;
		width: 90px;
		min-height: 1px;
		padding: 8px 0 0;
		text-align: center;
		img{
			transform: translateZ(0);
		}
		.block_preim_item:hover & img{
			animation-name: pulse;
			animation-delay: 0s;
			animation-duration: 4000ms;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
		}
	}
}