.dropdown_menu{

	float: left;
	width: 255px;
	margin-left: 30px;
	position: relative;
	z-index: 2;
	&:before,
  &:after {
    content: "";
    display: block;
    bottom: 10px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow:0 15px 20px rgba(0, 0, 0, 0.6);
    background-color: #000;
    transform: rotate(-5deg);
    position: absolute;
    z-index: -1;
	}
	&:after{
  	right: 10px;
    left: auto;
    transform: rotate(5deg);
  }
	.wrap{
		margin: 20px 0 0;
		box-shadow: 0 0 10px #333;
	}
	ul{
		li:before{
			display: none!important;
		}
	}
	.list{
		background-color: #E1E1E1;
		margin-bottom: 0;
		li{
			padding: 0!important;
			margin: 0!important;
			a{
				font-family: OpenSans-Regular;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			  border-top: 1px solid rgba(255, 255, 255, 0.2);
			  //background: #5d8cdb;
			  text-decoration: none;
			  color: #fff;
			  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
			  padding: 10px;
  			padding-left: 20px;
  			@include link(#ffffff, #ffffff);
			}
		}
		li ul{
			margin-bottom: 0;
		}
	}
	.item{
		li{
			a{
				font-family: OpenSans-Regular;
				//background: #e1e1e1;
			  font-size: 15px;
			  color: #402227;
			  text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
			  @include link(#402227, #ffffff);
			}
		}
	}
	.list li:hover ul{
		height: 268px;
	}
	&__block{
		.wrap{
			margin: 0;
		}
		.list{
			//background-color: #6EBDE8;
			li ul{
				height: 344px;
			}
		}
		.list li:hover ul{
			height: 344px;
		}
	}
}