.left_menu{
	
	height: auto;
	margin: 0;
	position:relative;
	z-index: 2;
	background: none;
	padding: 0;
	#menuVertical{
		background: linear-gradient(to bottom,  #6fbfe8 0%,#5587e2 100%,#7db9e8 100%);
      ul li a{
        font-family: OpenSans-Bold;
        border-top: 1px solid lighten(#7dbce8, 10%);
        font-size: 16px;
        padding-left: 30px;
      }
      ul li:hover a{
        background-color: lighten(#e1e1e1, 10%);
      }
      ul li ul li{
        background-color: #fff;
      }
      ul li ul li a{
        //@include link(#000, lighten(#000000, 60%));
        @include link(#000, #fff);
        
      }
      ul li ul li a:hover{
        background: #67a9e3;
      }
      li.left_menu_parent{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top: 17px;
          right: 8px;
          width: 15px;
          height: 16px;
          background: transparent url('../img/images/left_menu-arrow.png') left top no-repeat;
        }
      }
	}	
	&:before,
  &:after {
    content: "";
    display: block;
    bottom: 10px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow:0 15px 20px rgba(0, 0, 0, 0.6);
    background-color: #000;
    transform: rotate(-5deg);
    position: absolute;
    z-index: -1;
	}
	&:after{
  	right: 10px;
    left: auto;
    transform: rotate(5deg);
  }
}