.map{
	float: left;
	margin: 20px 0 0;
	overflow: visible;
	width: 825px;
	height: 398px;
	border: 2px solid #b2b2b2;
	position:relative;
	z-index: 10;
  &__block{
    width: 540px;
    margin: 0 0 37px;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow:0 15px 20px rgba(0, 0, 0, 0.6);
    transform:rotate(-5deg);
    position: absolute;
    z-index: -1;
	}
	&:after{
  	right: 10px;
    left: auto;
    transform:rotate(5deg);
  }
  &_inner{
  	overflow: hidden;
  	background-color: #ccc;
  	height: 100%;
  }
  &__contacts{
    border: none;
    height: 495px;
    float: none;
    &_inner{
      height: 495px;
    }
  }
}