.map{
	float: left;
	margin: 20px 0 0;
	overflow: visible;
	width: 825px;
	height: 398px;
	border: 2px solid #b2b2b2;
	position:relative;
	z-index: 10;
  
  /*&:before,
  &:after {
    content: "";
    display: block;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow:0 15px 20px rgba(0, 0, 0, 0.6);
    transform:rotate(-5deg);
    position: absolute;
    z-index: -1;
	}
	&:after{
  	right: 10px;
    left: auto;
    transform:rotate(5deg);
  }*/
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: -41px;
    left: -40px;
    z-index: -1;
    width: 896px;
    height: 225px;
    background: transparent url('../img/images/map-shadow-top2.png') left top no-repeat;
  }
  &:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -41px;
    left: -40px;
    z-index: -1;
    width: 896px;
    height: 225px;
    background: transparent url('../img/images/map-shadow-bottom.png') left top no-repeat;
  }
  &__block{
    width: 540px;
    margin: 0 0 37px;
    &:after{
      width: 591px;
      height: 151px;   
      background: transparent url('../img/images/map2-shadow-bottom2.png') left top no-repeat;
      bottom: -28px;
      left: -28px;
    }
    &:before{
      width: 591px;
      height: 151px;
      background: transparent url('../img/images/map2-shadow-top.png') left top no-repeat;
      top: -28px;
      left: -28px;
    }
  }
  /*&_shadow{
    width: 821px;
    height: 394px;
    position: relative;
    z-index: 9;
    &:before,
    &:after {
      content: "";
      display: block;
      top: 15px;
      left: 10px;
      width: 50%;
      height: 20%;
      max-width: 300px;
      box-shadow:0 -15px 20px rgba(0, 0, 0, 0.5);
      transform:rotate(5deg);
      position: absolute;
      z-index: -1;
    }
    &:after{
      right: 10px;
      left: auto;
      transform:rotate(-5deg);
    }
  }*/
  &_inner{
  	overflow: hidden;
  	background-color: #ccc;
  	height: 100%;
  }
  &__contacts{
    border: none;
    height: 495px;
    float: none;
    &_inner{
      height: 495px;
    }
  }
}