.newproduct{
	padding-top: 15px;
	button:active, a:active,
	button:focus, a:focus{
		outline: none;
	}
	&_inner{
		//@include clearfix;
	}
	&_orange{
		color: #ff950c;
		font-family: OpenSans-BoldItalic;
		font-size: 21px;
	}
	/*.bxslider{
		height: 209px;
		overflow: hidden;
	}
	.bx-wrapper{
		position: relative;
		
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: -8px;
			left: 0;
			width: 100%;
			height: 8px;
			background: transparent url('../img/images/slider-shadow-top.png') 50% top no-repeat;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: -8px;
			left: 0;
			width: 100%;
			height: 8px;
			background: transparent url('../img/images/slider-shadow-bottom.png') 50% top no-repeat;
		}
	}*/
	&_left{
		//float: left;
		//width: 350px;
		//margin-right: 30px;
		@include clearfix;
	}
	&_right{
		//float: left;	
		//width: 445px;
		//margin-top: -11px;
	}
	&_item{
		position: relative;
		float: left;
		margin: 0 30px 30px 0;
		box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
		/*&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 0px 0px 21px 2px rgba(255,255,255,1);
		}*/
		&:nth-child(3n){
			margin-right: 0;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			transition: transform 0.35s,
											opacity 0.35s;
		}
		&:hover img{
			transform: scale3d(0.95,0.95,1);
			opacity: 0.8;
		}
	}
	ul{
		list-style-type: none;
		li{
			padding: 0;
			margin: 0;
			&:before{
				display: none;
			}
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	/*#bx-pager{
		margin: 24px 0 0;
		a{
			float: left;
			width: 102px;
			font-family: "OpenSans-Semibold", sans-serif;
			margin-left: 22px;
			margin-bottom: 24px;
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
			border: 1px solid #A2ABB4;
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
		a:first-child{
			margin-left: 0;
		}
		a:nth-child(3n-2){
			margin-left: 0;
		}
		a.active{
			border: 1px solid #666;
		}
	}*/
}
#colorbox{
	button:active, a:active,
	button:focus, a:focus{
		outline: none;
	}
}