.services2{
	padding-top: 22px;
	@include clearfix;
	&_row{
		@include clearfix;
	}
	.img_text_box{
		height: auto;
		padding: 0 0 10px;
		@include link(#000000, #000000);
		text-decoration: none;
		float: left;
		width: 192px;
		margin-right: 19px;
		&:nth-child(4n){
			margin-right: 0;
		}
		.img_block{
			margin: 0;
		}
	}
	&_img{
		display: block;
		margin-bottom: 25px;
		height: 192px;
		border: 2px solid #848586;
		box-shadow: 0px 3px 21px 0px rgba(0,0,0,0.75);
		background-color: #B6C4D0;
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 0px 0px 21px 0px rgba(255,255,255,0.75);
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			transition: transform 0.35s,
									opacity 0.35s;
		}
		&:hover img{
			transform: scale3d(0.95,0.95,1);
			opacity: 0.8;
		}
	}
	&_title{
		font-size: 16px;
		font-family: OpenSans-Bold;
		a{
			@include link(#000, #000);
		}
	}
	&_text{			
		p{
			font-size: 15px;
			line-height: 20px;
			font-family: OpenSans-Italic;
		}
	}
}