.user-content{
	text-align: left;
	& > a,
	& > ul li a,
	& > ol li a,
	& > p a,
	& .field-name-body a,
	& .field-name-field-cem-descr a{
		@include link(#000, #000);
		text-decoration: none;
	  //display: inline-block;
	  font-size: 15px;
	  line-height: 18px;
	  transition: .3s ease-in-out;
	  background-image: linear-gradient(darken(silver, 20%) 50%, darken(silver, 20%) 50%), linear-gradient(#333 50%, #333 50%); 
	  //background-position: center bottom; 
	  background-position: right bottom; 
	  background-repeat: no-repeat; 
	  background-size: 0 2px, 100% 2px; 
	  color: #607584; 
	  transition: background-size .5s;
	}
	& > a:hover,
	& > ul li a:hover,
	& > ol li a:hover,
	& > p a:hover,
	& .field-name-body a:hover,
	& .field-name-field-cem-descr a:hover{
		background-size: 100% 2px, 100% 2px; 
  	background-position: left bottom;
	}
	font-family: OpenSans-Regular;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	p{
		font-family: OpenSans-Regular;
		font-size: 15px;
		line-height: 20px;
		word-wrap: break-word;
	}
	/*& > p img{
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		border: 2px solid #878787;
	}*/
	/*& > p span[data-picture-align="left"] img {
		margin: 10px 50px 10px 0;
	}*/
	& p.user-image img {
		margin: 10px 50px 10px 0;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		border: 2px solid #878787;
	}
	i, em{
		font-family: OpenSans-Italic;
	}
	b, strong, h3{
		font-family: OpenSans-Semibold;
		i, em{
			font-family: OpenSans-SemiboldItalic;
		}
	}
	i, em{
		b, strong{
			font-family: OpenSans-SemiboldItalic;
		}
	}
	h3, h4, h5{
		font-size: 15px;
	}
	ul{
		padding: 0;
		margin: 0 0 10px;
		list-style-type: none;
		li{
			padding: 0 0 0 17px;
			margin: 0;
			font-family: OpenSans-Regular;
			font-size: 15px;
			line-height: 20px;
			position: relative;
			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 3px;
				top: 10px;
				width: 5px;
				height: 5px;
				background: transparent url('../img/images/list.png') left top no-repeat;
			}
		}
	}
	ol{
		list-style-position: inside;
		margin: 0 0 10px;
		li{
			font-family: OpenSans-Regular;
			font-size: 15px;
			line-height: 31px;
		}
	}
	table{
		margin-top: 29px;
		margin-bottom: 20px;
		font-family: OpenSans-Regular;
		font-size: 14px;
		line-height: 22px;
		width: 100%;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
		border-collapse: collapse;
		tbody{
			border: none;
		}
		td, th {
	    border: 1px solid black;
	    //padding: 1px;
	    vertical-align: top;
   	}
   	th{
   		background-color: #6fbee8;
   		text-align: center;
   	}
   	tr:first-child th {
		  border-top: 0;
		}
		tr:last-child td {
		  border-bottom: 0;
		}
		tr td:first-child,
		tr th:first-child {
  		border-left: 0;
  	}
  	tr td:last-child,
  	tr th:last-child {
		  border-right: 0;
		}
		tr:nth-child(odd) td{
			//background-color: #f2f2f2;
		}
		tr:nth-child(even) td{
			//background-color: #fff;
		}	
	}
	.field-name-field-cem-descr table{
		margin: 0 auto;
		width: 95%;
	}
}