.view-views-descr1,
.view-views-descr2{
	a{
		@include link(#000, #000);
		text-decoration: none;
	  //display: inline-block;
	  font-size: 15px;
	  line-height: 18px;
	  transition: .3s ease-in-out;
	  background-image: linear-gradient(darken(silver, 20%) 50%, darken(silver, 20%) 50%), linear-gradient(#333 50%, #333 50%); 
	  //background-position: center bottom; 
	  background-position: right bottom; 
	  background-repeat: no-repeat; 
	  background-size: 0 2px, 100% 2px; 
	  color: #607584; 
	  transition: background-size .5s;
	}
	a:hover{
		background-size: 100% 2px, 100% 2px; 
  	background-position: left bottom;
	}
}